header, aside{
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
    li{
        list-style: none;
    }
}
.main-wrapped{
    height: calc(100vh - 56px);
}
aside{
    width: 150px;
    height: 100%;
}